{{- define "main" }}

  {{ $jsonData := getJSON "data/json_file/RandomData.json" }}
  <div class="table-responsive">
      <!-- Search inputs -->
      <div class="row mb-3">
          <div class="col">
              <input type="text" id="searchLanguage" class="form-control" placeholder="Search Language...">
          </div>
          <div class="col">
              <input type="text" id="searchID" class="form-control" placeholder="Search ID...">
          </div>
          <div class="col">
              <input type="text" id="searchBio" class="form-control" placeholder="Search Bio...">
          </div>
          <div class="col">
              <input type="text" id="searchVersion" class="form-control" placeholder="Search Version...">
          </div>
      </div>
      <table id="myTable" class="table table-hover custom-table"> <!-- Added ID for JavaScript interaction -->
          <thead>
              <tr>
                  <th>Language</th>
                  <th>ID</th>
                  <th>Bioooo</th>
                  <th>Version</th>
              </tr>
          </thead>
          <tbody>
              {{ $even := false }}
              {{ range $data := $jsonData }}
              <tr class="{{ if $even }}table-secondary{{ else }}table-primary{{ end }}">
                  <td>{{ $data.Language }}</td>
                  <td>{{ $data.ID }}</td>
                  <td>{{ $data.Bio }}</td>
                  <td>{{ $data.Version }}</td>
              </tr>
              {{ $even = not $even }}
              {{ end }}
          </tbody>
      </table>
  </div>
 
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          var table = document.getElementById('myTable');
          var searchLanguage = document.getElementById('searchLanguage');
          var searchID = document.getElementById('searchID');
          var searchBio = document.getElementById('searchBio');
          var searchVersion = document.getElementById('searchVersion');
          
          searchLanguage.addEventListener('input', function () {
              searchTable(0, searchLanguage.value.toLowerCase());
          });
          searchID.addEventListener('input', function () {
              searchTable(1, searchID.value.toLowerCase());
          });
          
          searchBio.addEventListener('input', function () {
              searchTable(2, searchBio.value.toLowerCase());
          });
          
          searchVersion.addEventListener('input', function () {
              searchTable(3, searchVersion.value.toLowerCase());
          });
          
          function searchTable(columnIndex, filter) {
              var rows = table.getElementsByTagName('tr');
              for (var i = 0; i < rows.length; i++) {
                  var row = rows[i];
                  var cells = row.getElementsByTagName('td');
                  if (cells.length > columnIndex) {
                      var cell = cells[columnIndex];
                      if (cell.innerText.toLowerCase().indexOf(filter) > -1) {
                          row.style.display = '';
                      } else {
                          row.style.display = 'none';
                      }
                  }
              }
          }
      });
  </script>

{{- end }}{{/* end main */}}
